*{
    box-sizing: border-box;
}

:root {
    --border-bottom-color: #413e3d;
}


body {
    height: 100%;
    color: #99918c;
    background-color: #262323;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    line-height: 1;
    margin: 0;
}

html {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

hr {
    margin: 0;
}

nav {
    border-bottom: solid 1px var(--border-bottom-color);
}
.content-inner {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1400px;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: left;
    margin-left: 24px;
    margin-right: 24px;
}

.navbar-logo {
    font-family: "Jost", sans-serif;
    flex-basis: 50%; 
    justify-content: flex-start;
    display: flex;
    align-items: center;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-menu {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
}

.navbar-menu-section {
    display: flex;
    gap: 24px;
}
.navbar-menu-section-item {
    display: block;
    font-size: 14px;
    padding-top: 34px;
    padding-bottom: 34px;
}

header {
    margin-bottom: 20px;
}

.hero {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
    border-bottom: solid 1px var(--border-bottom-color);
}
.hero-section {
    flex-basis: 50%;
}

.hero-section-left {
    font-style: normal;
    font-size: 64px !important; 
    display: flex;
}
.hero-section-left p{
    align-self: center;
}

.hero-section-right img{
    max-width: 100%;
    display: inline-block;
}
.hero-section-right p{
    padding: 32px 24px;
}

.section-group {
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 100px;
    border-bottom: solid 1px var(--border-bottom-color);
}

.section-title{
    color: white;
    margin-left: 24px;
    margin-right: 24px;
}

.section-panel {
    flex-basis: 50%;
}

.section-panel-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-panel-left {
    font-style: normal;
    font-size: 64px !important; 
    display: flex;
}
.section-panel-left p{
    align-self: center;
}


.primary {
    color: white;
}

table {
    width: 70%;
}
thead {
    color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    height: 30px;
    vertical-align: bottom;
}

iframe {
    width: 80%;
}

@media screen and (min-width: 1440px) {
    .navbar-menu-section-item {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-logo {
        flex-basis: 100%;
        height: 80px;
    }
    .navbar-menu {
        flex-basis: 100%;
        justify-content: flex-start;
    }    
    .hero-section-left p, .section-panel-left p{
        font-size: 48px;
    }
    .navbar-menu-section-item {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-logo {
        flex-basis: 100%; 
        border-bottom: solid 1px var(--border-bottom-color);
    }

    .navbar {
        margin-bottom: 20px;
    }

    .navbar-menu {
        flex-basis: 100%;
    }
    .navbar-menu-section {
        flex-basis: 50%;
        flex-direction: column;
        gap: 0;
    }
    
    .navbar-menu-section-item {
        height: 40px;
        border-bottom: 1px solid var(--border-bottom-color);
        display: flex;
        align-items: center;
    }

    .hero, .section-group {
        flex-direction: column;
    }

    .hero-section, .section-panel {
        flex-basis: 100%;
    }

    .hero-section-left p, .section-panel-left p{
        font-size: 40px;
    }
}
