*{
    box-sizing: border-box;
}

div {
    display: block;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    display: block;
}

body {
    height: 100%;
    color: #99918c;
    background-color: #262323;
    font-family: "Jost",sans-serif;
    font-size: 20px;
    line-height: 1;
    margin: 8px;
}

html, body {
    height: 100%;
}

.nav_group {
    align-items: center;
    display: flex;
}

.nav_section {
    width: 50%;
}

.nav_outer {
    width: 100%;
    text-align: left;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
}

.nav_items_inner {
    display: flex;
}

.main_nav_item {
    color: #fff;
    border-top: 1px #413e3d;
    border-bottom: 1px #413e3d;
    flex: 1;
    margin-right: 24px;
    padding-top: 34px;
    padding-bottom: 34px;
    font-size: 14px;
    display: block;
}
.content {
    max-width: 1400px;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content_inner {
    padding-left: 16px;
    padding-right: 16px;
}

.line {
    width: 100%;
    border-bottom: 1px solid #413e3d;
    border-right: .5px #413e3d;
}

.cell_h {
    padding-left: 24px;
    padding-right: 24px;
}

.cell_h.hide {
    display: none;
}

.logo_wrapper {
    height: 100%;
    border-bottom: 1px #413e3d;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
}

.logo_link {
    float: none;
    padding: 24px 0;
    position: static;
    display: block;
}





@media screen and (min-width: 1280px) {
    .main_nav_item {
        margin-right: 32px;
    }
}


@media screen and (max-width: 767px) {
    .nav_section {
        width: 100%;
    }

    .nav_outer {
        flex-direction: row;
        padding-left: 16px;
        padding-right: 16px;
    }

    .nav_items {
        width: 50%;
    }

    .nav_items_inner {
        flex-direction: column;
        padding-left: 8px;
        padding-right: 8px;
    }

    .main_nav_item {
        border-bottom-style: solid;
        margin-bottom: -1px;
        margin-right: 0;
    }

    .logo_wrapper {
        border-bottom-style: solid;
        margin-left: 24px;
        margin-right: 24px;
    }

    .nav_group, .flex-horizontal-tablet {
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .nav_section {
        width: 100%;
        flex: none;
    }
    .nav_outer {
        justify-content: flex-start;
        padding-left: 24px;
        padding-right: 24px;
    }

    .main_nav_item {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .logo_link {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .nav_group {
        flex-direction: column;
    }
}

@media screen and (max-width: 479px) {
    .nav_outer {
        padding-left: 0;
        padding-right: 0;
    }

    .nav_items_inner {
        padding-left: 8px;
        padding-right: 8px;
    }
    .main_nav_item {
        margin-right: 0;
    }

    .cell_h {
        padding-left: 8px;
        padding-right: 8px;
    }

    .logo_wrapper {
        margin-left: 8px;
        margin-right: 8px;
    }

    .logo_link {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    body {
        font-size: 20px;
    }

    .content {
        min-height: auto;
    }

    .content_inner {
        padding-left: 16px;
        padding-right: 16px;
    }

    header {
        opacity: 1;
    }
}
